.container {
  width: 80vw;
  max-height: 80vh;
  box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
  overflow: auto;
}

table {
  display: grid;
  width: 100%;
  border-collapse: collapse;
  grid-template-columns: 
    minmax(50px, .75fr)
    minmax(100px, 1.5fr)
    minmax(100px, 1.5fr)
    minmax(150px, 3fr)
    minmax(150px, 3fr)
    minmax(150px, 5fr)
    minmax(150px, 1fr);
}

thead,
tbody,
tr {
  display: contents;
}

tr td {
  border-bottom: 1px solid hsl(206, 20%, 93%);
}

th {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  user-select: none;
  background: hsl(206, 33%, 96%);
  text-align: left;
  font-weight: normal;
  color: hsl(240, 1%, 49%);
  padding: 14px;
  border-bottom: 2px solid hsl(206, 20%, 93%);
}

th:hover {
  cursor: pointer;
}

.caretIcon {
  margin: auto 0 auto auto;
}

td {
  text-align: left;
  padding: 14px 14px;
  color: hsl(210, 2%, 37%)
}

td, th { 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: hsl(210, 64%, 49%);
}

.colorSplotch {
  display: inline-block;
  margin-right: 12px;
  height: 11px;
  width: 11px;
  border: 1px solid black;
}

